* {
margin:0;
padding:0;
}

.wrapper {
    background-color: aquamarine;
    text-align: center;
    margin: 0px 403px;
}

.form_1 {
    background-color: #3d617f;
    border-radius: 4px/3px;
    box-shadow: inset 0px 0px 25px 9px rgba(35,55,88,1);
}


.nomer {
    text-decoration: none;
    font-size: 19px;
    color: #61686c;
}

.form {
    display: inline-block;
    padding:6px;
}

.colortext {
    width: 135px;
    height: 18px;
    border: none; 
}

.stan , .stan_2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.stand ,.stand_2 {
    list-style-type: none;
    display: inline-grid;
}

.line {
    border-left: 2px solid #fff;
    margin-left: 4px;
    padding-left: 9px;
}

.silka {
    text-decoration: none;
}

.aside{
    text-align:left;
    padding-left:20px;
    padding-right:8px;
}

.navi{
height:34px;
}

.header_2{
    clear:left;
}

.menushka {
    background: #272a2d;
}

ul.stan > li.stand > a {
    text-decoration: none;
    color: #b2babe;
    padding: 3px;
}

.silka_2:hover {
    color: white;
    border: none;
    background: #3d617f;
    border-radius: 138px 138px 138px 138px;
    padding:3px;
}

/*Середина*/
.flex{
	display: flex;
}

.center_left{
	background-color:white;
	box-shadow: 10px 10px 45px -5px rgba(0,0,0,0.75);
	border-radius: 15px 15px 15px 15px;
	}

.seriy{
	color:#7a848a;
}

 .left{
	float:left;
 }
 
 .right{
	
 }
 
 .center{
	 text-align:center;
 }
 
 .poisk{
	 font-size:20px;
	 color:#2d4666;
	 
 }
 

.left_muny {
    width: 154px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
	clear:both;
}

.blue {
    color: #324bc7;
}

.katol {
    color: #3d617f;
    border: none;
    background: white;
    border-radius: 72px 72px 72px 72px;
    padding: 3px;
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
    margin-bottom:10px;
}

.shina_1, .BOLT_1, .disk_1 {
    color: #3d617f;
    border: none;
    background: white;
    border-radius: 138px 138px 138px 138px;
    padding: 3px;
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
    text-align: left;
    margin-bottom: 8px;
    margin-top:4px;
}

.shina, .bolt, .disk {
    display: block;
    color: #3e3f40;
}

    .shina:hover {
        font-style: italic;
        font-weight: 900;
        color: #3d617f;
    }

    .bolt:hover {
        font-style: italic;
        font-weight: 900;
        color: #3d617f;
    }

    .disk:hover {
        font-style: italic;
        font-weight: 900;
        color: #3d617f;
    }
	
	.centr_muny{
		background-color:#adb6bd;
		float: left;
		margin: 10px;
		width:558px;
		border-radius: 15px 15px 15px 15px;
	}
	
	.preload{
		padding-top: 10px;
	}
	
	.table{
		display:inline-table;
		padding:10px;
	}
	
	
    /*Середина правого края*/
.right_muny {
    width: 154px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.shina_2, .disk_2 {
    color: #3d617f;
    border: none;
    background: white;
    border-radius: 138px 138px 138px 138px;
    padding: 3px;
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75);
    text-align: left;
    margin-bottom: 8px;
    margin-top: 4px;
}
.vibor {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #304c6c;
    color: white;
    border: none;
    box-shadow: inset 0px 0px 25px 12px rgba(58,110,166,1);
    border-radius: 138px 138px 138px 138px;
    margin-top: 10px;
}

/*niz*/
.footer_logo{
    clear:both;
}

.footer {
    background-color: #3d617f;
    padding-bottom: 73px;
}

 a.niz_silka {
    text-decoration: none;
    color: #c7c7c7;
    padding: 3px;
}

.niz_silka:hover {
    color: #74aac9;
}

.zvet {
    color: #e0650d;
}