* {
margin:0;
padding:0;
}

body {
 
}

.wrapper {
    background-color: aquamarine;
    text-align: center;
    margin: 0px 497px;
}

header_1 {
    
}

form {
    background-color: #3d617f;
    border-radius: 4px/3px;
    box-shadow: inset 0px 0px 25px 9px rgba(35,55,88,1);
    
}

figure {
    
}

.nomer {
    text-decoration: none;
    font-size: 19px;
    color: #61686c;
}

.form {
    display: inline-block;
    padding:6px;
}

.colortext {
    width: 135px;
    height: 18px;
    border: none; 
}

ul {
    padding-top: 8px;
    padding-bottom: 8px;
}

li {
    list-style-type: none;
    display: inline-grid;
}

.line {
    border-left: 2px solid #fff;
    margin-left: 4px;
    padding-left: 9px;
}

.silka {
    text-decoration: none;
}

.aside{
    text-align:left;
    padding-left:20px;
    padding-right:8px;

}

.navi{
height:34px;
}

.header_2{
    clear:left;
}

.menushka {
    background: #272a2d;
}

ul > li > a {
    text-decoration: none;
    color: #b2babe;
    padding: 3px;
}

.silka_2:hover {
    color: white;
    border: none;
    background: #3d617f;
    border-radius: 138px 138px 138px 138px;
    padding:3px;
}

/*niz*/
.footer {
    background-color: #3d617f;
    padding-bottom:73px;
}

.niz_silka:hover {
    color: #74aac9;
}

.zvet {
    color: #e0650d;
}