body {
    background-color: #f9f9f9;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.conteiner {
    background: #ebf5ed;
    height: 100vh;
    margin-top: 0%;
}

.header {
    height: 33vh;
    background: #000000;
    color: #ffffff;
}

.seredina {
    background: #e3dc4f;
    color: #74c265;
    height: 34vh;
}

.footer {
    background: #000000;
    color: #ffffff;
    height: 33vh;
}

ul {
    font: 14px Verdana,sans-serif;
}

    ul li {
        display: inline-block;
        width: 100px;
        border: 1px solid #E76D13;
    }

p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}