html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f9f9f9;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.conteiner {
    height: 100vh;

}

/*Заголовок*/
.header {
    height: 189px;
    background: #ebf5ed;
}

.foto {
    margin-left: 40px;
    margin-top: 50px;
}

.slova {
    background: #575656;
    color: #fcfcfc;
    height: 30px;
    padding-top: 10px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
}

.dr {
    background: #444444;
}

/*Середина*/

.seredina {
    height: 679px;
    background: #ebf5ed;
}

li {
    list-style-type: none;
    border: 1px solid red;
    padding: 10px;
    margin-right: 110px;
}

    li:nth-child(3) {
        padding-left: 30px;
        background: #a1a1a1;
    }

ul {
    margin-left: 40px;
    padding-left: 10px;
    margin-top: 0px;
    float: left;
    width: 30%;
    height: 90%;
}

li::before {
    padding-left: 40px;
}

.velik {
    height: 385px;
}

.paz {
    padding: 40px;
}

/*Подвал*/
.footer {
    color: #ffffff;
    bottom: 0;
    height: 100px;
    background: #ebf5ed;
}
/*Новый абзац*/
p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.bnav_a {
    padding: 10px 25px;
}

.ssal {
    float: right;
    padding-right: 13px;
    color: black;
}


.text {
    color: black;
}

.niz {
    margin-left: 40px;
    background: #e1e1e1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
}
