* {
    margin: 0;
    padding: 0;
}

.color_white {
    color: #ffffff;
}

.color_purple {
    color: #5e4870;
}

hr.color_pink {
    color: #e0befd;
}

body {
    text-align: center;
}

header {
    background: url(../images/fon_header.png) no-repeat;
    height: 517px;
    display: inline-block;
    width: 320px;
}

.nazvanie {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 69px;
    padding-bottom: 41px;
}

.el_menu {
    display: block;
    text-decoration: none;
}

.widh_hr_el_menu {
    width: 47px;
    margin-left: 137px;
}

ul {
    display: block;
    list-style: none;
}

    ul:after {
        display: block;
        clear: both;
    }

    ul.menu > li {
        position: relative;
    }

        ul.menu > li > a {
            display: block;
            text-decoration: none;
        }

            ul.menu > li > a:hover {
                text-decoration: none;
                background-color: #42394c;
                border-radius: 23px 23px 23px 23px;
                width: 245px;
                
               
            }

    ul.submenu {
        display: none;
    }

        ul.submenu > li {
            display: block;
        }

            ul.submenu > li > a {
                display: block;
                text-decoration: none;
            }

                ul.submenu > li > a:hover {
                    text-decoration: underline;
                }

    ul.menu > li:hover > ul.submenu {
        display: block;
    }
