* {
    margin: 0px;
}

.cont {
    height: 100%;
    background-image: url(../images/background.png);
    background-size: 100%;
}

/*Header*/

.header {
    padding-top: 50px;
}

.logo {
    float: left;
    margin-left: 546px;
}

.contact {
    color: #ffffff;
    margin-left: 1228px;
    margin-top: 65px;
}

/*Середина*/

.seredina {
    height: 650px;
}

figure {
    display: inline-block;
}

figcaption {
    color: #ffffff;
    font-size: 20pt;
}

.pervii_ryad {
    text-align: center;
    margin-top: 26px;
}

.second_ryad {
    text-align: center;
    margin-top: 10px;
}

/*Подвал*/

.footer {
    height: 50px;
    text-align: center;
    color: white;
}