body {
    background-image: url(../images/background.png) ;
    background-size: 100%;
}

.cont {
    height: 100vh;
}

/*Header*/

.header {
    height: 590px;
}

.logo {
    margin-top: 150px;
    margin-left: 50px;
    height: 300px;
    width: 600px;
}

/*Середина*/

.seredina {
    height: 1100px;
}

/*Подвал*/

.footer {
    height: 50px;
    text-align: center;
    color: white;
}