*{
    margin:0;
    padding:0;
}

.wrapper {
    text-align: center;
}

header {
    position: relative;
    background-image: url('../images/ron.png');
}

.header_1 {
    padding-top: 69px;
    padding-bottom: 41px;
}

.possition {
    font-size: 50px;
    font-weight: 900;
}



.color_withe {
    color: #ffffff;
}

.color_fiolet {
    color: #5e4870;
}

.color_poz {
    color: #e0befd;
}


.color_GREY {
    color: #474747;
}

.linii {
    text-decoration: none;
    border-bottom: 2px solid #e0befd;
    padding-bottom: 8px;
}

.otstyp {
    padding-top: 134px;
    padding-bottom: 167px;
    text-align: center;
}

.vir {
    width:1713px;
    font-size:20px;
    font-weight:900;
}


.kartin {
    float: left;
    margin-left:747px;
    padding: 4px 12px 0px 24px;
}

.kartin_1 {
    float: left;
    padding: 7px 15px 0px 5px;
    position: absolute;
    margin-top:31px;
}

.fife {
    padding-top: 37px;
    clear: both;
}

article{
    clear:both;
}

.podstroy {
    float: left;
    font-weight: 100;
    font-size: 30px;
}

.podstroy_2 {
    float: left;
    clear: both;
    margin-left: 853px;
    font-weight: 100;
    font-size: 22px;
}

.black {
    float: left;
    clear: both;
    font-weight: 100;
    font-size: 16px;
    padding: 12px 0px 0px 56px;
}

.slika {
    float: left;
    clear: both;
    margin-left: 1046px;
    text-decoration: none;
    font-size: 19px;
}

.slika_2 {
    float: right;
    clear: both;
    text-decoration: none;
    font-size: 11px;
    padding-top: 11px;
    font-weight: 800;
}

    .slika_2:hover {
       text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
    }

    .type_text {
        font-size: 18px;
        font-weight: 900;
        text-align: left;
    }

.slika:hover {
    text-shadow: 1px 1px 5px #fff;
}
    /*середина*/
.sliders {
    background-color: #69507e;
    height: 559px;
    box-shadow: inset 0px 0px 34px 3px rgba(0,0,0,1);
}

figure{
    padding:24px;
    clear:both;
}

.body {
    background-color: #fff;
}

.body_2 {
    padding-top: 653px;
    padding-bottom: 75px;
}

.podstroy_4 {
    padding-top: 25px;
}

.podstroy_0 {
    padding: 24px 0px 0px 65px;
}

.figa {
    position: absolute;
    margin-left: 797px;
    width: 256px;
    height: 272px;
}

.conter {
    background-color: #fff;
    width: 256px;
    height: 237px;
    margin-top:5px;
    margin-left:26px;
}

.figa_1 {
    background-color: #fff;
    position: absolute;
    margin-left: 26px;
    padding: 3px 38px 34px 32px;
    margin-top: 23px;
}

.ner, .ner_3, .ner_4 {
    position: absolute;
}

    .ner{
        text-align:center;
    }

    .tup {
        font-size: 18px;
        font-weight: 900;
        text-align: left;
    }

.tup_1 {
    font-size: 14px;
    font-weight: 200;
}

.kartin_2{
    position:absolute;

}

.ner_1 {
    padding-left: 64px;
    padding-top: 5px;
}

.ner_3{
    padding-top:86px;
}
.ner_4 {
    padding-top: 151px;
}

.perv_yp {
    float: left;
    margin-left: 759px;
    padding:30px;
}

.two_yp {
    float: left;
    padding: 30px;
}

.ymen{
    padding-right:57px;
}

.ymen_2 {
    padding-right: 65px;
}

.ymen_1 {
    padding-right: 55px;
}

/*Подвал*/
footer {
    position: relative;
    background-image: url('../images/Footer.png');
    height: 156px;
     clear:both
}

.shir{
    font-weight:900;
}

.text{
    display: inline-block;
}

.otst{
    padding-top:45px;
}