*{
    margin:0;
    padding:0;
}

.wrapper {
    text-align: center;
    
}

.header {
    position: relative;
    background-image: url('../images/ron.png');
}

.header_1 {
    position: absolute;
    top: 75px;
    left:1124px;
}

.possition {
    font-size: 50px;
    font-weight: 900;
    
}



.color_withe {
    color: #ffffff;
}

.color_fiolet {
    color: #5e4870;
}