body {
   
    margin-left: 25%;
    margin-bottom: 10%;
    margin-right: 25%;
}

.conteiner {
    /*background: #ddf5d7;*/
    width: 200px;
    padding: 5px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
}
